<main>
    <aside>
        <section id="board" class="filter">
            <div>Board</div>
            <ul id="board-list" class="filter-list" style="display: none;">
                <li>CBSE</li>
                <li>ICSE</li>
            </ul>
        </section>

        <section id="stream" class="filter">
            <div>Stream</div>
            <ul id="stream-list" class="filter-list" style="display: none;">
                <li>SCI</li>
                <li>COMM</li>
                <li>ARTS</li>
            </ul>
        </section>

        <section id="class" class="filter">
            <div>Class</div>
            <ul id="class-list" class="filter-list" style="display: none;">
                <li>10</li>
                <li>12</li>
            </ul>
        </section>

        <div id="save" class="filter">
            save
        </div>

    </aside>
    <section id="papers">
    </section>
</main>