<head>
  <link rel="stylesheet" href="/deepstudy-frontend/src/css/navBar.css">
</head>

<body>

  <nav>
    <ul>
      <li><a href="/deepstudy-frontend/src/index.html">
          <svg id="home-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24">
            <path
              d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z">
            </path>
          </svg>
        </a></li>

      <li id="register">
        <div class="toggle-btn">
          <svg class="theme" id="sun-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" />
            <path
              d="M12 2V4M12 20V22M4 12H2M22 12H20M5.64 5.64L4.22 4.22M19.78 19.78L18.36 18.36M5.64 18.36L4.22 19.78M19.78 4.22L18.36 5.64"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" />
          </svg>
          <svg class="theme" id="moon-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M21 12.79C20.69 14.59 19.89 16.24 18.76 17.64C16.91 19.88 14.19 21 11.5 21C7.36 21 4 17.64 4 13.5C4 10.81 5.12 8.09 7.36 6.24C8.76 5.11 10.41 4.31 12.21 4C11.39 5.62 11.5 7.62 12.38 9.12C13.45 10.94 15.31 12.06 17.38 12.38C18.88 12.62 20.38 12.5 21 11.5C20.69 11.91 20.31 12.38 21 12.79Z" />
          </svg>
        </div>
        <a id="btn-signin" href="/deepstudy-frontend/src/pages/signup/">Signin</a>
        <a id="btn-signup" href="/deepstudy-frontend/src/pages/signup/">Signup</a>
      </li>

    </ul>
  </nav>

</body>