main {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    overflow-y: auto;
    background-color: var(--background-color);
    scrollbar-color: gray var(--background-color);
    scrollbar-width: thin;
}