/* heights
signup-container : 75%
signup-header    : 30%
main             : 60% , {
                            auth : 30%
                            form : 70%
                        }
footer : 10%

*/


* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#left-arrow{
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0px var(--secondary-color);
}

#left-arrow:hover{
    cursor: pointer;
    background-color: mistyrose;
}

#signup-container {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 480px;
    height: 500px;
}

#signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 30%;
}

#signup-header p {
    font-size: var(--text-size);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: rgb(86, 86, 255);
}

main {
    height: 60%;
    /* background-color: red; */
}

#auth {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    /* background-color: rebeccapurple; */
}

#google-auth,
#github-auth {
    all: unset;
    border: 1.5px solid var(--secondary-color);
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
}

#google-auth span,
#github-auth span {
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: black;
}

#google-icon,
#github-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

#google-auth:hover,
#github-auth:hover {
    cursor: pointer;
}

form {
    box-sizing: border-box;
    height: 70%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    /* background-color: red; */
}

form div {
    height: 10%;
    text-align: center;
    color: var(--secondary-color);
}

#email,
#password {
    all: unset;
    box-sizing: border-box;
    width: 70%;
    height: 16%;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 0 15px;
    font-size: 0.9rem;
}

#password-visibility-toggle {
    position: relative;
    height: 16%;
    width: 70%;
}

.eye-icon:hover{
    cursor: pointer;
}

#password {
    height: 100%;
    width: 100%;
    text-align: start;
    padding-right: 40px;
}

#button-signup {
    all: unset;
    width: 70%;
    height: 20%;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
    background-color: #54af54;
    color: white;
}

#button-signup:hover {
    cursor: pointer;
    background-color: #46c046;
}

/* 
padding top :                     5%
div height  :                    10%
total gaps  : 10% + 10% + 10%  = 30%
usr,pas     : 16% + 16%        = 32%
button      :                    20%
total heg   :                    97%
*/

#terms-footer {
    /* background-color: green; */
    width: 70%;
    height: 10%;
    margin: auto;
    text-align: center;
    font-size: var(--text-size);
}

#terms-footer p {
    color: var(--secondary-color);
}